@import url("reset.css");
@import url("home.css");

:root {
  --azul2: #0070AB;
  --azullogo: #0085CA;
  --azulescuro: #0D4479;


  --verde: #00B6AB;
  --verdeclaro: #7EFFD8;


  --cinza2: #828282;
  --cinza3: #4F4F4F;
  --cinza4: #556666;
  --cinzamarca: #808080;
  --cinzaclaro: #E5E5E5;


  --vermelho: #EB5757;
  --laranja: #FFAE64;
}

h1, h2, h3, h4, h5{
  font-family: "Inter", Arial, sans-serif;
}

body{
  font-family: "Roboto", Arial, sans-serif;
}

img{
  max-width: 100%;
}

main{
  margin-top: 68.4px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  
}

a{
  text-decoration: none;
}

section{
  padding: 80px 0;
}

